{{!< default}}

<main id="site-main" class="site-main outer">
    <div class="inner home-wrap">

        <section class="changelog">
            hello
        </section>

        <aside class="sidebar">
            <a class="highlight-feed-ad highlight-feed-primary-widget" href="https://ghost.org/pricing/">
                <img src="{{asset "img/ghostpro.svg"}}" alt="Ghost(Pro)">
                <p>Spend less time on your server, more time on your site</p>
            </a>
            {{#get "posts" filter="featured:true" include="authors,tags" limit="3"}}
            <div class="post-feed highlight-feed-secondary">
                {{#foreach posts}}
                {{> "post-card"}}
                {{/foreach}}
            </div>
            {{/get}}
        </aside>

    </div>
</main>